<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bitcoin Price Information</title>
</head>
<body>
    <h1>Bitcoin Price Information</h1>
    <table border="1">
        <tr>
            <th>Exchange</th>
            <th>Price</th>
            <th>24h Change (%)</th>
        </tr>
        <tr>
            <td>Upbit (KRW)</td>
            <td>{{ upbit_price }}</td>
            <td>{{ upbit_change }}</td>
        </tr>
        <tr>
            <td>Binance (USDT)</td>
            <td>{{ binance_price }}</td>
            <td>N/A</td>
        </tr>
    </table>
</body>
</html>
